.pagina1{
    background-color: rgb(219, 91, 77);
}
.pagina2{
    background-color: rgb(108, 77, 219);
}
.pagina3{
    background-color: rgb(219, 77, 184);
}
.pagina4{
    background-color: rgb(77, 210, 219);
}
.pagina5{
    background-color: rgb(77, 219, 136);
}
